/* .app {
    padding: 10px;
  }
  
  .form-input {
    margin: 10px 0;
  text-align: center;
  }
  
  .blog-post-display {
    border: 1px solid lightgray;
    margin: 5px 0;
    border-radius: 4px;
    padding: 10px;
    
  
  }
  
  .button-large {
    background-color: #007BFF;
    color: white;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid;
    outline: none !important;
    width: 40%;
    min-width: 300px;
  }

  button:focus {
    background-color: darkblue;
  }
  button:active {
    background-color: darkblue;
  }
  
  .form-input input, .form-input textarea {
    width: 40%;
    min-width: 300px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: 1px solid lightgray;
    padding: .375rem .75rem;
  }


  .logout-btn {
    background-color: #007BFF;
    color: white;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    cursor: pointer;
    border: 1px solid;
    outline: none !important;
  } */